@model IEnumerable<Mentoring.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mentorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.menteeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semesterId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mentorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.menteeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semesterId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.groupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.groupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.groupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
