@model Mentoring.Models.Mentor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mentor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.availableDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.availableDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.availableTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.availableTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mentorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
